.dashboard{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    padding: 5px;
}

.user-trades h2, .user-team-requests h2, .user-inventory h2{
    font-size: 16px;
    text-align: center;
    background-color: lightgray;
}

.card-attribute{
    list-style-type: none;
    font-size: 12px;
    flex-wrap: wrap;
}

.card-attribute li{
    margin-right: 10px;
}

@media only screen and (min-width: 480px){
    .dashboard{
        max-width: 480px;
    }

    .user-trades h2, .user-team-requests h2, .user-inventory h2{
        font-size: 1.7em;
    }

    .user-inventory{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 63%;
        grid-gap: 15px;
        grid-column: span 2;
        margin: 0 auto;
    }

    .user-inventory h2{
        grid-column: span 2;
    }
}

@media only screen and (min-width: 700px){
    .dashboard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 960px;
        margin: 0 auto;
    }

    .user-trades{
        flex: 1;
    }

    .user-team-requests{
        flex: 1;
    }
}
